td {
    padding: 16px 16px;
    border-right: 20px solid gray;
    border-bottom: 20px solid gray;
}

thead {
    background-color: #001529;
    font-size: 16px;
    color: white;
}

tbody {
    border: 20px solid gray;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid gray;
    background-color: white;
}